html {
    scroll-behavior: smooth;
}

body {
    background-color:  #E3F2FD;
}

.navbar {
    background-color: #E3F2FD;
    
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 35px solid #ffffff;
}

.flex-container-nyamping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E3F2FD;
}

.flex-container-nyamping > div {
    background-color: #E3F2FD;
    width: 100px;
    margin-right: 300px;
    line-height: 75px;
    text-align: left;
}

.grid-container {
    display: grid;
    background-color: #E3F2FD;
    grid-column-gap: 260px;
    grid-row-gap: 50px;
    grid-template-columns: 315px;
}

.grid-container > div {
    padding: 20px 0;
    text-align: left;
}

.bagian {
    height: -60vw;
}

.jumbotron{
    background-size: cover;
    height: 770px;
    text-align: center;
    background-color: #E3F2FD;
    margin-bottom: 0px;
} 

.jumbotron .lead {
    margin-top: 225px;
}

.jumbotron .btn {
    background-color: #00AFB9;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

#profile {
    background-color: #FFD447;
    margin-bottom: 0%;
}

#profilepicture {
    margin-top: 80px;
    float: left;
    border-radius: 10px;
}

#profile-biodata {
    float: left;
    margin-top: 80px;
    margin-left: 15px;
    text-align: left;
}

#about {
    font-size: 24px;
}

#background {
    background-color: #E3F2FD;
}

#education{
    margin-top: 50px;
}

.kotak {
    width: 315px;
    height: 180px;
    background-color: #FFD447;
    text-align: left;
    line-height: 20px;
}

.list-group-item{
    background-color: #FFD447;
}

/* #garis {
    height: 480px;
    width: 2px;
    background-color: #000000;
    margin-left: 5vw;
    top: 300px;
    float: left;
}  */


#home {
    background-color: #E3F2FD;
    text-align: center;
}

#contact{
    background-color: #3D3D3D;
    color: white;
}

.socialimage{
    height: 75px;
    width: 75px;
}

.sociallink{
    float: left;
    margin: auto;
}

.social{
    float: left;
}

.grid-container-contact {
    display: grid;
    background-color: #3D3D3D;
    grid-row-gap: 50px;
    grid-column-gap: 5px;
    grid-template-columns: auto auto;
    justify-content: start;
}

.grid-container-contact > div {
    line-height: 15px;
    
}

.grid-container-kucing {
    display: grid;
    background-color: #FFD447;
    grid-column-gap: auto;
    grid-row-gap: auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.grid-container-kucing > div {
    padding: 20px 0;
}

.kucinggu {
    max-width: 315px;
    height: auto;
}

.kucinggu:hover {
    max-width: 500px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    
    #profilepicture {
        float: initial;
        margin-top: 80px;
        border-radius: 10px;
    }

    #profile-biodata {
        margin-top: 80px;
        margin-left: 5px;
        text-align: left;
        float: initial;
        text-size-adjust: 0.75;
    }

    .flex-container-nyamping > div {
        background-color: #E3F2FD;
        width: 100px;
        margin-right: 100px;
        line-height: 75px;
        text-align: center;
    }

    .grid-container-contact {
        display: grid;
        background-color: #3D3D3D;
        grid-row-gap: 50px;
        grid-column-gap: 1px;
        grid-template-columns: auto auto;
        justify-content: start;
    }

    .grid-container-contact > div {
        line-height: 15px;
        font-size: smaller;
    }
}

@media only screen and (max-width: 350px) {
    
    .grid-container-contact > div {
        line-height: 15px;
        font-size: x-small;
    }

    .kotak {
        width: 275px;
        height: 180px;
        background-color: #FFD447;
        text-align: left;
        line-height: 20px;
    }

    .flex-container-nyamping > div {
        background-color: #E3F2FD;
        width: 100px;
        margin-right: 50px;
        line-height: 75px;
        text-align: center;
    }

}