{% extends 'base.html' %}
{% load static %}
    <!---->
    {% block meta %}
    <title>Faris Muzhaffar</title>
    {% endblock meta %}

    {% block content %}
    <main>
        
        <section id="welcome">
            <div class="jumbotron" id="home">
                <div class="container">
                    <p class="lead font-weight-bold">Hello! I'm</p>
                    <h1 class="display-4 font-weight-bold">Faris Muzhaffar</h1>
                    <a class="btn btn-primary btn-lg" href="#profile" role="button"><div class="arrow-down"></div></a>
                </div>
            </div>
        </section>

        <section class="bagian d-flex" id="profile">
            <div class="container" style="margin-bottom: 120px;">
                <img src="https://lh3.googleusercontent.com/86u2KeJmpLEhW9xkx-TAFFZReih-g3Ds8OrmQDhSXoenOBvP5IbAdJE6TYnn552jlDc5a_AYoYsSnbmSNGwqvmFSUZqrh0hLOwuwEU_Mruu-_NeCWRAGQGfoIGtmXrO__oBsWz6Hpw=w2400" id="profilepicture" width="250" height="350">
                <div id="profile-biodata">
                    <h1>PROFILE</h1>
                    <p><b>Name:</b><br>Faris Muzhaffar<br><br><b>Date of Birth:</b><br>June 30, 2001<br><br><b>Major:</b><br>Computer Science<br><br><b>Location:</b><br>Jakarta, Indonesia</p>

                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h1>ABOUT ME</h1>
                <p id="about">Hi my name is Faris Muzhaffar. I’m a second year computer science student at Faculty of Computer Science, Universitas Indonesia. I have a pretty good knowledge about Python and Java and i’m currently learning web development. I also like learning about game development in my free time.</p>
            </div>
        </section>

        <section class="bagian d-flex" id="background">
    }        <div class="container">
                <div style="float: left; margin-top: 80px; margin-bottom: 120px;">
                    <h1>BACKGROUND</h1>
                    <!-- <div class="grid-container">
                        <div><h2>EDUCATION</h2></div>
                        <div><h2>WORK EXPERIENCES</h2></div>
                        <div class="kotak">test</div>
                        <div class="kotak">test</div>
                        <div class="kotak">test</div>
                        <div class="kotak">test</div>
                    </div> -->
                    <div class="flex-container-nyamping">
                        <div class="grid-container">
                            <div><h2>EDUCATION</h2></div>
                            <div class="kotak"><p><br><br>HighSchool<br><span style="font-size: larger;"><b>SMAN 47 Jakarta</b><br>2016-2019</span></p></div>
                            <div class="kotak"><p><br><br>University<br><span style="font-size: larger;"><b>Faculty of Computer Science,<br>Universitas Indonesia</b><br>2019-Present</span></p></div>
                        </div>
                        <div class="grid-container">
                            <div><h2>WORK EXPERIENCES</h2></div>
                            <div class="kotak"><p><br><br>Chief<br><span style="font-size: larger;"><b>47 Taekwondo Club</b><br>2017-2018</span></p></div>
                            <div class="kotak"><p><br><br>Staff of Fundraising<br><span style="font-size: larger;"><b>Compfest</b><br>2020</span></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bagian d-flex" id="contact">
            <div class="container" style="margin-bottom: 120px; margin-top: 80px;">
                <div style="float: left;">
                    <h1>CONTACT ME</h1>
                    <div style="margin-top: 55px;">
                        <div class="grid-container-contact">
                            <div><a href="https://www.instagram.com/farismuzhaffar/"><img src="{% static 'img/instagramPutih.png' %}" alt="Instagram" width="50" height="50"></a></div>
                            <div><a href="https://www.instagram.com/farismuzhaffar/" class="text-white"><p><br>https://www.instagram.com/farismuzhaffar/</p></a></div>
                            <div><a href="https://twitter.com/muzhaffaris"><img src="{% static 'img/twitputih.png' %}" alt="Twitter" width="50" height="50"></a></div>
                            <div><a href="https://twitter.com/muzhaffaris" class="text-white"><p><br>https://twitter.com/muzhaffaris</p></a></div>
                            <div><a href="mailto:faris.muzhaffar@gmail.com"><img src="{% static 'img/mailputih.png' %}" alt="mail" width="50" height="50"></a></div>
                            <div><a href="mailto:faris.muzhaffar@gmail.com" class="text-white"><p><br>faris.muzhaffar@gmail.com</p></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </main>
    
    <!---->
    {% endblock content %}